*{
    margin: 0;
    padding: 0;
    color: #444;
}
body{
    width: 65%;
    margin: auto;
    background: rgb(4,25,61);
    background: linear-gradient(90deg, rgba(4,25,61,1) 0%, rgba(21,24,34,1) 52%, rgba(4,25,61,1) 100%);
}
#thought-container{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:20px;
}
#button-holder{
    display: flex;
    flex-direction: column;
}
.thought{
    border: solid #000 1px;
    border-radius: 15px;
    background-color:  rgb(210, 202, 202);
    flex:1;
    padding: 10px;
}
.delete-btn{
    font-size: 1em;
    color: red;
}
a{
    color: aquamarine;
    text-decoration: none;
    font-size: 1.2em;
}
#container{
    display: flex;

}