<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h2>Submitted Info</h2>
        <div>
            {% for k,v in data %}
                {% if v != ''%}
                    <h3>{{k}} : {{v}}</h3>
                {% endif %}
            {% endfor %}
            <form action="/">
            <input type="submit" value="return">
            </form>
        </div>
    </div>
</body>
</html>