<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script async src="https://kit.fontawesome.com/19d668566d.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <h1>Welcome <span style="color:rgb(210, 202, 202) ;">{{userData.name}}</span></h1>
    <div id="container">
        <div id="button-holder">
            <a href="/create/post/{{userData.id}}">Create Post</a>
            <a href="/applyFilter/{{userData.id}}/all">All Posts</a>
            <a href="/applyFilter/{{userData.id}}/own">Own Posts</a>
            <a href="/applyFilter/{{userData.id}}/following">Following Only</a>
            <a href="/logout">Logout</a>
        </div>
        <div id="thought-container">
            {% for thought in postData%}
            <div class="thought">
                <h3>{{thought.name}} says:</h3>
                <p>{{thought.thought}}</p> 
                {% set likes = [] %}
                <a href="/like/{{userData.id}}/{{thought.thought_id}}">
                    <i style="color:aquamarine" class="fa-solid fa-heart" onmouseenter="style='color: #444'" onmouseleave="style='color:aquamarine'"></i>
                </a>
                {% for like in likeData if like.thought_id == thought.thought_id %}
                    <p style="display: none;">{{ likes.append(like) }}</p>
                {%endfor%}
                <p style="display: inline; float: right;">likes {{likes|length}}</p>
            </div>
                {% if userData.id == thought.id %}
                <a class="delete-btn" href="/delete/post/{{thought.thought_id}}">delete</a>
                {% endif %}
            {% endfor %}
            {% if postData|length == 0 %}
                <div class="thought" style="text-align: center;">
                    <a style='color:#444;' href="/create/post/{{userData.id}}">Create First Post</a>
                </div>
                {% endif %}
        </div>
    </div>
    
</body>
</html>