<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{userData.name}}</h1>
    <a href="/create/post/{{userData.id}}">Create Post</a>
    <div id="filter-holder">
        <a href="/applyFilter/{{userData.id}}/all">All Posts</a>
        <a href="/applyFilter/{{userData.id}}/own">Own Posts</a>
        <a href="/applyFilter/{{userData.id}}/following">Following Only</a>
    </div>
    <div id="thought-container">
        {% for thought in postData%}
        <div class="thought">
            <h3>{{thought.name}}</h3>
            <p>{{thought.thought}}</p> 
        </div>
        {% if userData.id == thought.id %}
            <a class="delete-btn" href="/delete/post/{{thought.thought_id}}">delete</a>
            {% endif %}
        {% endfor %}
    </div>
    <a href="/logout">Logout</a>
</body>
</html>