<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newPost.css') }}">
    <title>Document</title>
</head>
<body>
            {% with messages = get_flashed_messages()%}
                {% if messages%}
                    {% for message in messages%}
                     <p style="color:red; font-size:1em; margin:auto;">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

    <form action="/create/post/{{name}}/{{id}}/confirm" method="post">
        <textarea name="post" placeholder="New Post"></textarea>
        <input type="submit">
        
    </form>
    <button onclick="history.go(-1)">Cancel</button>
    
</body>
</html>