<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <title>Document</title>
</head>
<body>
    <div id="banner">
        <h1>Cri<span style="color: aquamarine;">tter</span></h1>
    </div>
    
    <div id="form-holder">
        <form id="create" action="/validateCreate" method="post">
            {% if err == 1%}
                {% with messages = get_flashed_messages()%}
                    {% if messages%}
                        {% for message in messages%}
                        <p style="color:red; font-size:1em;">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% endif %}
            <label for="create">Create</label> 
            <input placeholder="Username" name="name">
            <input placeholder="password" type='password' name="pass">
            <input placeholder="Confirm Password" type='password' name="pass-confirm">
            <input type="submit">
        </form> 
        <a href="/">Existing User</a>
    </div>
</body>
</html>